{% extends 'base.html' %}
{% block content %}
{% load static %}

<body class="home">

<div id="container">

<header>
<h1 id="logo"><a href="{% url 'index' %}"><img src="{% static 'infomation/images/logo.png' %}" alt="Shioriha Ruri"></a></h1>
<video src="{% static 'infomation/images/movie.mp4' %}" autoplay loop muted playsinline></video>
</header>

<div id="contents">

<main>

<section class="blur">

<h2>Read Me<span>必ずお読みください</span></h2>

<h3>注意事項</h3>
<p>当サイトは、にじさんじ所属VTuber栞葉るりさんについて紹介する非公式サイトです。</p>
<p>当サイトはANYCOLOR株式会社様、およびにじさんじとは⼀切関係ありません。</p>
<p>権利者様からの画像等の削除、修正依頼につきましては速やかに対処いたします。</p>

</section>

<section class="blur">

<h2 class="c">Information</h2>

<div class="list-banner">

<a href="https://www.youtube.com/@ShiorihaRuri/playlists" target="_blank">
<div class="list">
<h4>Playlists<span>YouTube再生リスト</span></h4>
<figure><img src="{% static 'infomation/images/1_another.jpg' %}" alt=""></figure>
</div>
</a>

<a href="https://shop.nijisanji.jp/s/niji/group/list/203/item?ima=0241#/all/new/0" target="_blank">
<div class="list">
<h4>Shop<span>ショップ</span></h4>
<figure><img src="{% static 'infomation/images/2_another.jpg' %}" alt=""></figure>
</div>
</a>

</div>

</section>

</main>

</div>
<!--/#contents-->

{% endblock content %}
